.navbar {
    background-color: #e0e1ff;
    text-align: center}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
              background-color: #f9ecf9;}

div.jumbotron { background-color: #f9ecf9; }

img { padding: 5px;
      margin: auto;
      width: 60%; }

li { margin: 20px;}

ul { font-size: 16px;}

p { font-size: 16px;}

ol { font-size: 16px;}

div#comment-box { margin:20px;}

button { margin: 20px;}

div#comment-header { margin: 20px;}

div.contrast { background-color: #f9ecf9; }

.nav-tabs > li > a{ border: medium none;
                    color:  #ac39ac;
                    background-color: #f9ecf9; }

.nav-tabs > li > a:hover{  border: medium none;
                           border-radius: 0;
                           color: #ac39ac; }

                          #sent { margin-left: 20px;
                                   }

                           #para { margin-left: 40px;
                                   border-radius: 5px;
                                   width: 40%;
                                   background-color: white;
                                   }
