.navbar {
    background-color: #e0e1ff;}

body {background-color: #FFFEE0}

.carousel-inner img{margin: auto;}


h1 {font-size: 4vw;
    background-color: #e0e1ff;}

p1:hover {font-size: 2vw;}

p2:hover {font-size: 2vw;
          color: white;}

.bg-1 {background-color: #e0e1ff;}


.bg-2 {background-color: #e0e1ff;}


.bg-3 {background-color: #e0e1ff;}


.container-fluid {padding: 5vw}

h2 { font-size: 25px;
    background-color: #FFFEE0;
    text-align: center;}


h5:hover {font-size: 25px;
    background-color: #FFFEE0;
    text-align: center;}

label {font-size: 4vw;
    background-color: #FFFEE0;
    text-align: center;}
