div.jumbotron { background-color: #ffe6e6; }

img { padding: 5px;
      margin: auto;
      width: 60%; }

li { margin: 20px;}

ul { font-size: 16px;}

ol { font-size: 16px;}

div#comment-box { margin:20px;}

button { margin: 20px;}

div#comment-header { margin: 20px;}

div.contrast { background-color: #ffe6e6; }

.nav-tabs > li > a{ border: medium none;
                    color:  #ff6666;
                    background-color: #ffe6e6; }

.nav-tabs > li > a:hover{  border: medium none;
                           border-radius: 0;
                           color: #ff6666; }
