h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 7vw;
    color: rgb(85, 85, 85);
    text-align: justify;
    background-color: #0000
}
img {
          display: block;
          padding: 10px;
          margin: auto;
          width: 60%;
          float: left;
}
body{
    
}
div.Ingredients {
    background-color: #c4c1b3;
}
