h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 7vw;
    color: rgb(85, 85, 85);
    text-align: justify;
    background-color: #c4c1b3;
}
img {
          display: block;
          padding: 10px;
          margin: auto;
          width: 30%;
          float: left;
}
body{
      background-color: #c4c1b3;
}
